<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div id="needjavascript">
                <div class="alert alert-danger" role="alert">
                    Javascript is required to play the game. If you have javascript running this message will disapper automtically!..
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-left:8%">
        <div class="col-auto mr-1 mt-1 mb-1 ">
            <h3 id="level">Level: 1</h3>
        </div>
        <div class="col-auto mt-1 mb-1">
            <div id="ingame">
                <h3 id="currentscore">Current score: 0 </h3>
                <input type="button" value="Stop level" onclick="stopLevel();" />
            </div>
            <div id="gameover" style="display:none">
                <h3>Game Over!</h3>
                <input type="button" value="Show answer" onclick="showAnswer();" />
                <input type="button" value="Try again" onclick="initGame();" />
            </div>
            <div id="youwin" style="display:none">
                <h3>You Win!</h3>
                <input type="button" value="Show answer" onclick="showAnswer();" />
                <input type="button" value="Next level" onclick="initGame();" />
            </div>
        </div>
        <div class="col mt-1 mb-1 pr-0">
            <h3 id="highScore">Highest Score: 0</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto gameboard">
            <table cellspacing="10" cellpadding="0" summary="Board" style="width: 400px; height: 400px;">
                <tr>
                    <td>
                        <div class="squareboard" id="s00"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s01"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s02"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s03"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s04"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h05"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="squareboard" id="s10"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s11"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s12"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s13"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s14"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h15"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="squareboard" id="s20"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s21"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s22"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s23"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s24"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h25"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="squareboard" id="s30"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s31"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s32"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s33"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s34"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h35"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="squareboard" id="s40"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s41"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s42"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s43"></div>
                    </td>
                    <td>
                        <div class="squareboard" id="s44"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h45"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="hintboard" id="h50"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h51"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h52"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h53"></div>
                    </td>
                    <td>
                        <div class="hintboard" id="h54"></div>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>
<div id="aboutgame" class="row justify-content-center">
    <h1> About The Game </h1>
</div>
<div class="row justify-content-center">
    <div class="alert alert-primary " style="margin-right: 50px; margin-left: 50px;">
        <P>The goal of Tangerines is to determine the location of orange, gold, and red tangerines on the game board. The player uses the hints provided by the numbers on the sides of the board to deduce which tiles have the desired value and which are bombs. The player scores points by flipping the correct tiles, with the point value multiplied by the number on the tile. The objective is to score as many points as possible by avoiding the bombs and uncovering the valuable tiles. To flip a leaf, click on it. In Tangerines, players can use the memo function to keep track of the leaves they have already flipped and the value they have deduced for each tile. The memo function allows players to mark tiles with different symbols or colors, such as a flag for exploding tangerines or an X for tiles that have already been flipped.</P>
    </div>
    <div class="alert alert-success" style="margin-right: 50px; margin-left: 50px;">
        <h2 id="how-to-play">How to play</h2>
        <p></p>
        <ol class="step">
            <p><strong>Here is a step-by-step guide on how to use the memo in Tangerines: </strong> </p>
            <li>Select the leaf you want to mark: Use the cursor to select the leaf you want to mark and press the memo button to bring up the memo function. </li>
            <li>Choose a symbol or color: Use the direction buttons or touch screen to select the desired symbol or color that you want to use to mark the tile. </li>
            <li>Apply the mark: Press the symbol on the screen to apply the mark to the tile. </li>
            <li>Repeat the process: Repeat the process for each tile you want to mark, as many times as necessary. </li>
        </ol>
    </div>
</div>
<hr>
<div id="aboutdev" class="row justify-content-center" style="padding-left: 10px; padding-right: 10px;">
    <h1>Meet our team</h1>
</div>
<div class="row justify-content-center" style="padding-left: 10px; padding-right: 10px;">
    <div class="col-auto mr-1">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Img/test.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center mb-0"><b>Ragu Neopany</b></h5>
                <h6 class="text-center"><b>Senior Student at UC</b></h6>
                <p class="card-text" style="max-height: 200px; overflow-y: scroll;">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-auto mr-1">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Img/test.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center mb-0"><b>Khoa Do</b></h5>
                <h6 class="text-center"><b>Senior Student at UC</b></h6>
                <p class="card-text" style="max-height: 200px; overflow-y: scroll;">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-auto mr-1">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Img/test.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center mb-0"><b>Sujay Dammoju</b></h5>
                <h6 class="text-center"><b>Senior Student at UC</b></h6>
                <p class="card-text" style="max-height: 200px; overflow-y: scroll;">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-auto mr-1">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="~/Img/test.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center mb-0"><b>Michael Reynolds</b></h5>
                <h6 class="text-center"><b>Senior Student at UC</b></h6>
                <p class="card-text" style="max-height: 200px; overflow-y: scroll;">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <input type="hidden" id="GetUrl" name="custId" value='@Url.Action("GetHighScore")'>
    <input type="hidden" id="PostUrl" name="custId" value='@Url.Action("PostHighScore")'>
</div>
